/*main*/
body,
html {
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  color: #18191F;
  background-color: #fff;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
  min-height: 100%;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*main style*/
.bigTitle {
  font-family: Manrope;
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
}

.title {
  font-family: Manrope;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

.text {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

/*adaptive for class*/
@media (max-width: 1100px) {
  .bigTitle {
    font-size: 62px;
    line-height: 88px;
  }
  .title {
    font-size: 38px;
    font-weight: 800;
    line-height: 44px;
  }
}
@media (max-width: 360px) {
  .bigTitle {
    font-size: 46px;
    line-height: 68px;
  }
  .title {
    font-size: 34px;
    font-weight: 800;
    line-height: 38px;
  }
}
/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 50;
  min-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
  width: 100%;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__textLogo {
  padding-top: 6px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.header__link {
  color: #18191F;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.header__link:hover {
  text-decoration: underline;
}
.header__btn {
  color: #FFF;
  text-align: center;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  background-color: #183181;
  border: 1px solid #183181;
  padding: 9px 12px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__btn:hover {
  background-color: #FFF;
  color: #183181;
  -webkit-box-shadow: 0px 1px 1px rgb(0, 0, 0);
          box-shadow: 0px 1px 1px rgb(0, 0, 0);
}
.header__btn:active {
  -webkit-transform: translate(0px, 1px);
          transform: translate(0px, 1px);
  -webkit-box-shadow: 0px 0px 1px rgb(0, 0, 0);
          box-shadow: 0px 0px 1px rgb(0, 0, 0);
}

/*adaptive for header*/
@media (max-width: 1000px) {
  .header__nav {
    display: none;
  }
}
/*page*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/main/mainThoto.png") 100% 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#D9E8EF), to(#EAF2F5));
  background: url("../img/main/mainThoto.png") 100% 100% no-repeat, linear-gradient(180deg, #D9E8EF 0%, #EAF2F5 100%);
}
.main__title {
  margin-bottom: 1rem;
  max-width: 196px;
}
.main__text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  max-width: 540px;
  margin-bottom: 32px;
}
.main__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__btn {
  margin-right: 8px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main__btn:hover {
  background-color: #FFF;
}
.main__line {
  width: 80px;
  height: 2px;
  background: #18191F;
  margin-right: 8px;
}
.main__project-text {
  font-weight: 800;
  line-height: 18px; /* 128.571% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*adaptive for main*/
@media (max-width: 1000px) {
  .main {
    background: url("none") 100% 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#D9E8EF), to(#EAF2F5));
    background: url("none") 100% 100% no-repeat, linear-gradient(180deg, #D9E8EF 0%, #EAF2F5 100%);
  }
}
/*title height*/
@media (max-height: 440px) {
  .main__title {
    margin-top: 10%;
  }
}
/*info*/
.info {
  padding: 64px 0;
}
.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
}
.info__item {
  width: 23%;
}
.info__text {
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/*madia for wedo*/
@media (max-width: 800px) {
  /*info*/
  .info {
    padding: 60px 0;
  }
  .info__item {
    width: 45%;
    text-align: center;
  }
}
@media (max-width: 400px) {
  /*info*/
  .info {
    padding: 50px 0;
  }
  .info__body {
    row-gap: 40px;
  }
  .info__item {
    width: 100%;
  }
}
/*wedo*/
.wedo {
  padding: 32px 0;
  position: relative;
}
.wedo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 60%;
  z-index: 0;
  width: 540px;
  height: 540px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background: #CDCDCD;
}
.wedo__title {
  margin-bottom: 48px;
  position: relative;
  z-index: 2;
}
.wedo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 64px;
}
.wedo__item {
  position: relative;
  z-index: 2;
  width: 22%;
  min-height: 152px;
  max-height: 152px;
  background-color: #FFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.2);
          box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.2);
}
.wedo__item-title {
  max-width: 203px;
  min-height: 64px;
  margin: 24px auto 0;
  color: #18191F;
  /* Heading / H5 */
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  position: relative;
  z-index: 2;
}
.wedo__item-title:after {
  position: absolute;
  top: 110%;
  left: -5%;
  content: "";
  width: 32px;
  height: 32px;
  background: url("../img/wedo/mini1.svg") no-repeat;
}
.wedo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transform: translate(0px, -40px);
          transform: translate(0px, -40px);
}
.wedo__img img {
  position: relative;
  z-index: 1;
}

/*madia for wedo*/
@media (max-width: 1100px) {
  /*wedo*/
  .wedo__title {
    margin-bottom: 38px;
  }
  .wedo__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wedo__item {
    width: 35%;
    margin-left: 24px;
  }
  .wedo__item-title {
    max-width: 80%;
  }
  .wedo__item-title:after {
    top: 110%;
    left: 0;
  }
}
@media (max-width: 770px) {
  /*wedo*/
  .wedo__item {
    width: 44%;
  }
}
@media (max-width: 600px) {
  /*wedo*/
  .wedo__title {
    margin-bottom: 24px;
  }
  .wedo__item {
    width: 51%;
  }
  .wedo__item-title {
    max-width: 80%;
  }
}
@media (max-width: 525px) {
  /*wedo*/
  .wedo__item {
    width: 65%;
  }
}
@media (max-width: 420px) {
  /*wedo*/
  .wedo__item {
    width: 80%;
  }
}
@media (max-width: 380px) {
  /*wedo*/
  .wedo__item {
    width: 100%;
  }
}
/*order*/
.order {
  padding: 152px 0 31px 0;
}
.order__img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*project*/
.project {
  padding: 80px 0 71px;
}
.project__title {
  padding-bottom: 48px;
}
.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 80px;
}
.project__item {
  width: 45%;
}
.project__item-title {
  color: #18191F;
  /* Heading / H4 */
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}
.project__item-title span {
  color: #18191F;
  /* Heading / H4 */
  font-size: 24px;
  font-weight: 800;
  line-height: 40px; /* 142.857% */
}
.project__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 35px;
}
.project__item-img img {
  max-width: 100%;
  height: 375px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.project__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project__item-month {
  color: #18191F;
  /* Others /Capitalised */
  font-size: 14px;
  font-weight: 800;
  line-height: 18px; /* 128.571% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.project__item-btn {
  color: #FFF;
  text-align: center;
  /* Label / Medium Label */
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  border-radius: 100px;
  background: #183181;
  padding: 10px 26px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.project__item-btn:hover {
  background-color: #FFF;
  color: #183181;
  -webkit-box-shadow: 0px 1px 1px rgb(0, 0, 0);
          box-shadow: 0px 1px 1px rgb(0, 0, 0);
}
.project__item-btn:active {
  -webkit-transform: translate(0px, 1px);
          transform: translate(0px, 1px);
  -webkit-box-shadow: 0px 0px 1px rgb(0, 0, 0);
          box-shadow: 0px 0px 1px rgb(0, 0, 0);
}
.project__btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}
.project__btn {
  display: block;
  padding: 10px 12px;
  border-radius: 100px;
  background: #183181;
  color: #FFF;
  text-align: center;
  /* Label / Medium Label */
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.project__btn:hover {
  background-color: #FFF;
  color: #183181;
  -webkit-box-shadow: 0px 1px 1px rgb(0, 0, 0);
          box-shadow: 0px 1px 1px rgb(0, 0, 0);
}
.project__btn:active {
  -webkit-transform: translate(0px, 1px);
          transform: translate(0px, 1px);
  -webkit-box-shadow: 0px 0px 1px rgb(0, 0, 0);
          box-shadow: 0px 0px 1px rgb(0, 0, 0);
}

/*madia for project*/
@media (max-width: 700px) {
  /*project*/
  .project__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 70px;
  }
  .project__title {
    padding-bottom: 38px;
  }
  .project__item {
    width: 76%;
  }
  .project__btn-container {
    margin-top: 60px;
  }
}
@media (max-width: 500px) {
  /*project*/
  .project__list {
    row-gap: 60px;
  }
  .project__item {
    width: 100%;
  }
  .project__title {
    padding-bottom: 30px;
  }
  .project__btn-container {
    margin-top: 50px;
  }
}
@media (max-width: 360px) {
  /*project*/
  .project__item-title {
    font-size: 20px;
  }
  .project__item-title span {
    font-size: 20px;
  }
}
/*about*/
.about__body {
  min-height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__img {
  width: 55%;
  min-width: 55%;
  position: relative;
}
.about__img img {
  max-width: 100%;
  height: auto;
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
}
.about__contain {
  width: 45%;
  height: 100%;
}
.about__content {
  margin: 25% 0 0;
  max-width: 444px;
}
.about__subTitle {
  color: #183181;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px; /* 128.571% */
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.about__title {
  color: #18191F;
  font-size: 40px;
  font-weight: 800;
  line-height: 54px; /* 135% */
}
.about__text {
  margin: 32px 0;
}
.about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  max-width: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about__link-text {
  color: #183181;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px; /* 150% */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about__link-img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about__link:hover .about__link-text {
  color: #5c7ef1;
}
.about__link:hover .about__link-img {
  -webkit-transform: translate(5px, 0);
          transform: translate(5px, 0);
}

/*footer*/
.footer {
  background-color: #0B0D17;
}