/*main*/
body,
html {
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    color: #18191F;

    background-color: #fff;
}
.wrap {
    display: flex;
    flex-direction: column;

    overflow: clip;
    min-height: 100%;
}
.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/*main style*/
.bigTitle {
    font-family: Manrope;
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;
}
.title {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
}
.text {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
/*adaptive for class*/
@media (max-width: 1100px){
    .bigTitle {
        font-size: 62px;
        line-height: 88px;
    }
    .title {
        font-size: 38px;
        font-weight: 800;
        line-height: 44px;
    }
}
@media (max-width: 360px){
    .bigTitle {
        font-size: 46px;
        line-height: 68px;
    }
    .title {
        font-size: 34px;
        font-weight: 800;
        line-height: 38px;
    }
}

/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;

    z-index: 50;

    min-height: 72px;
    display: flex;
    align-items: center;

    background-color: #FFF;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: 1110px;
        width: 100%;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__textLogo {
        padding-top: 6px;
    }

    &__nav {
        display: flex;
        column-gap: 32px;
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 32px;
    }

    &__link {
        color: #18191F;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
    }
    &__link:hover{
        text-decoration: underline;
    }

    &__btn {
        color:  #FFF;
        text-align: center;
        
        font-weight: 700;
        line-height: 20px; /* 142.857% */

        background-color: #183181;
        border: 1px solid #183181;
        padding: 9px 12px;
        border-radius: 8px;

        display: flex;
        padding: 10px 13px;
        justify-content: center;
        align-items: center;

        transition: all .3s ease;
    }
    &__btn:hover{
        background-color: #FFF;
        color: #183181;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    }
    &__btn:active{
        transform: translate(0px,1px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
    }
}
/*adaptive for header*/
@media (max-width: 1000px) {
    .header {

        &__nav {
            display: none;
        }
    }
}

/*page*/
.page {
    flex: 1 1 auto;
}
//main
.main {
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('../img/main/mainThoto.png') 100% 100% no-repeat, linear-gradient(180deg, #D9E8EF 0%, #EAF2F5 100%);

    &__body {

    }

    &__content {
        
    }

    &__title {
        margin-bottom: 1rem;
        max-width: 196px;
    }

    &__text {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 32px; /* 177.778% */
        max-width: 540px;

        margin-bottom: 32px;
    }

    &__project {
        display: flex;
        align-items: center;
    }

    &__btn {
        margin-right: 8px;
        border-radius: 50%;
        transition: all .3s ease;
    }
    &__btn:hover{
        background-color: #FFF;
    }

    &__line {
        width: 80px;
        height: 2px;
        background: #18191F;

        margin-right: 8px;
    }

    &__project-text {
        font-weight: 800;
        line-height: 18px; /* 128.571% */
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}
/*adaptive for main*/
@media (max-width: 1000px) {
    .main {
        background: url('none') 100% 100% no-repeat, linear-gradient(180deg, #D9E8EF 0%, #EAF2F5 100%);
    }
}
/*title height*/
@media (max-height: 440px) {
    .main {
        &__title {
            margin-top: 10%;
        }
    }
}

/*info*/
.info {
    padding: 64px 0;

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        row-gap: 20px;
    }

    &__item {
        width: 23%;
    }

    &__title {
        
    }

    &__text {
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }
}
/*madia for wedo*/
@media (max-width: 800px) {
    /*info*/
    .info {
        padding: 60px 0;

        &__item {
            width: 45%;
            text-align: center;
        }
    }
}
@media (max-width: 400px) {
    /*info*/
    .info {
        padding: 50px 0;

        &__body {
            row-gap: 40px;
        }

        &__item {
            width: 100%;
        }
    }
}

/*wedo*/
.wedo {
    padding: 32px 0;

    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 60%;
        z-index: 0;

        width: 540px;
        height: 540px;
        flex-shrink: 0;

        border-radius: 50%;
        background: #CDCDCD;
    }

    &__body {
        
    }

    &__title {
        margin-bottom: 48px;

        position: relative;
        z-index: 2;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        row-gap: 64px;
    }

    &__item {
        position: relative;
        z-index: 2;

        width: 22%;
        min-height: 152px;
        max-height: 152px;
        background-color: #FFF;

        border-radius: 8px;
        box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.2);
    }

    &__item-title {
        max-width: 203px;
        min-height: 64px;
        margin:24px auto 0;

        color:#18191F;

        /* Heading / H5 */
        font-size: 24px;
        font-weight: 600;
        line-height: 32px; /* 133.333% */

        position: relative;
        z-index: 2;
    }
    &__item-title:after{
        position: absolute;
        top: 110%;
        left: -5%;
        content: '';
        width: 32px;
        height: 32px;
        background: url('../img/wedo/mini1.svg')no-repeat;
    }

    &__img {
        display: flex;
        justify-content: end;

        transform: translate(0px,-40px);
    }
    &__img img{
        position: relative;
        z-index: 1;
    }
}

/*madia for wedo*/
@media (max-width: 1100px) {
    /*wedo*/
    .wedo {
        &__title {
            margin-bottom: 38px;
        }
        &__list {
            justify-content: center;
        }
        &__item {
            width: 35%;

            margin-left: 24px;
        }
        &__item-title {
            max-width: 80%;
        }
        &__item-title:after{
            top: 110%;
            left: 0;
        }
    }
}
@media (max-width: 770px) {
    /*wedo*/
    .wedo {
        &__item {
            width: 44%;
        }
    }
}
@media (max-width: 600px) {
    /*wedo*/
    .wedo {
        &__title {
            margin-bottom: 24px;
        }
        &__item {
            width: 51%;
        }
        &__item-title {
            max-width: 80%;
        }
    }
}
@media (max-width: 525px) {
    /*wedo*/
    .wedo {
        &__item {
            width: 65%;
        }
    }
}
@media (max-width: 420px) {
    /*wedo*/
    .wedo {
        &__item {
            width: 80%;
        }
    }
}
@media (max-width: 380px) {
    /*wedo*/
    .wedo {
        &__item {
            width: 100%;
        }
    }
}

/*order*/
.order {

    padding: 152px 0 31px 0;

    &__img img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

/*project*/
.project {
    padding: 80px 0 71px;

    &__body {
    }

    &__title {
        padding-bottom: 48px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        row-gap: 80px;
    }

    &__item {
        width: 45%;
    }

    &__item-title {
        color: #18191F;

        /* Heading / H4 */
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
    }
    &__item-title span{
        color: #18191F;

        /* Heading / H4 */
        font-size: 24px;
        font-weight: 800;
        line-height: 40px; /* 142.857% */
    }

    &__item-img {
        display: flex;
        justify-content: start;
        border-radius: 8px;

        margin-top: 24px;
        margin-bottom: 35px;
    }
    &__item-img img{
        max-width: 100%;
        height: 375px;
        object-fit: cover;
        border-radius: 8px;
    }

    &__item-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    &__item-month {
        color: #18191F;

        /* Others /Capitalised */
        font-size: 14px;
        font-weight: 800;
        line-height: 18px; /* 128.571% */
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__item-btn {
        color: #FFF;
        text-align: center;

        /* Label / Medium Label */
        font-size: 14px;
        font-weight: 700;
        line-height: 20px; /* 142.857% */

        border-radius: 100px;
        background: #183181;
        padding: 10px 26px;

        transition: all .3s ease;
    }
    &__item-btn:hover {
        background-color: #FFF;
        color: #183181;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    }
    &__item-btn:active {
        transform: translate(0px,1px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
    }

    &__btn-container {
        width: 100%;

        display: flex;
        justify-content: center;

        margin-top: 70px;
    }

    &__btn {
        display: block;
        padding: 10px 12px;
        border-radius: 100px;
        background: #183181;

        color: #FFF;
        text-align: center;

        /* Label / Medium Label */
        font-size: 14px;
        font-weight: 700;
        line-height: 20px; /* 142.857% */

        transition: all .3s ease;
    }
    &__btn:hover {
        background-color: #FFF;
        color: #183181;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    }
    &__btn:active {
        transform: translate(0px,1px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
    }
}

/*madia for project*/
@media (max-width: 700px) {
    /*project*/
.project {

    &__list {
        justify-content: center;

        row-gap: 70px;
    }
    &__title {
        padding-bottom: 38px;
    }

    &__item {
        width: 76%;
    }
    &__btn-container {
        margin-top: 60px;
    }
    
    }
}
@media (max-width: 500px) {
    /*project*/
    .project {

        &__list {
            row-gap: 60px;
        }
        &__item {
            width: 100%;
        }
        &__title {
            padding-bottom: 30px;
        }
        &__btn-container {
            margin-top: 50px;
        }
        
        }
    }
@media (max-width: 360px) {
    /*project*/
    .project {
        &__item-title {
            font-size: 20px;
        }
        &__item-title span{
            font-size: 20px;
        }
    }

}

/*about*/
.about {

    padding: 0 0 100px 0;

    &__body {
        min-height: 540px;
        display: flex;
    }

    &__img {
        width: 55%;
        min-width: 55%;

        position: relative;
    }
    &__img img{
        max-width: 100%;
        height: auto;

        transform: translate(-40px,0);
    }

    &__contain {
        width: 45%;
        height: 100%;
    }

    &__content {
        margin: 25% 0 0;

        max-width: 444px;
    }

    &__subTitle {
        color: #183181;

        font-size: 14px;
        font-weight: 800;
        line-height: 18px; /* 128.571% */
        letter-spacing: 2px;
        text-transform: uppercase;

        margin-bottom: 8px;
    }

    &__title {
        color: #18191F;

        font-size: 40px;
        font-weight: 800;
        line-height: 54px; /* 135% */
    }

    &__text {
        margin: 32px 0;
    }

    &__link {
       display: flex;
       align-items: center;
       column-gap: 8px;

       max-width: 50px;

       transition: all .3s ease;
    }

    &__link-text {
        color: #183181;

        font-size: 20px;
        font-weight: 700;
        line-height: 30px; /* 150% */

        transition: all .3s ease;
    }

    &__link-img {
        transition: all .3s ease;
    }

    &__link:hover &__link-text{
        color: #5c7ef1;
    }
    &__link:hover &__link-img{
        transform: translate(5px,0);
    }
}
/*madia for project*/
@media (max-width: 1150px) {
    /*about*/
    .about {
        padding: 0 0 90px 0;
        &__img img{
            transform: translate(0px,0);
        }
    }
}
@media (max-width: 1000px) {
    /*about*/
    .about {
        padding: 0 0 80px 0;

        &__content {
            margin: 23% 0 0;
            max-width: 100%;
        }
    
        &__subTitle {
            font-size: 13px;
            line-height: 16px; /* 128.571% */
        }
    
        &__title {
            font-size: 35px;
            line-height: 50px; /* 135% */
        }
    
        &__text {
            margin: 15px 0;

            font-size: 15px;
            line-height: 28px;
        }
    
    }
}
@media (max-width: 700px) {
    /*about*/
    .about {
        padding: 0 0 700px 0;

        &__body {
            
            flex-wrap: wrap;
        }
    
        &__img {
            order: 2;

            width: 55%;
            min-width: 55%;
            transform: translate(-15px,0);
        }
    
        &__contain {
            order: 1;

            width: 90%;
            height: 100%;
        }
        &__content {
            margin: 0;
    
            max-width: 444px;
        }
    
    }
}
@media (max-width: 600px) {
    /*about*/
    .about {
        padding: 0 0 65px 0;

        &__img {
            width: 70%;
            min-width: 70%;
        }
    }
}
@media (max-width: 450px) {
    /*about*/
    .about {
        padding: 0 0 60px 0;

        &__img {
            width: 100%;
            min-width: 100%;
        }
    }
}
/*footer*/
.footer {
    background-color: #0B0D17;
}
